@font-face{
     font-family: "Copperplate Gothic Bold Regular";
     src:url("fonts/Copperplate Gothic Bold Regular.ttf") format("TrueType");
  }
@font-face{
     font-family: "Georgia";
     src:url("fonts/Georgia.ttf") format("TrueType");
  }