
.profile .pic {
	width: 50%;
}
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
body{
	width:100%;
}
.profile .pic img {
	margin: 0;
	margin-top:10%;
}
.profile .text p {
	width: 70%;
	margin:0 auto;
	
}
.profile .pic{
	width:50%;
}
.profile .pic P {
	margin: 0 20%;
	
}
.profile .text {
	width: 50%;
	margin: 0;
	padding: 17% 0;
}
.bg .manu ul {
	width: 100%;
}
.bg .manu ul li#active {
	width: 18%;
	
}
.bg .manu ul li {

	height: 95%;
	width: 18%;
	padding: 0 2%;
}
.bg .manu ul li#active a {
	width:94%
}
.web p{
	width:40%;
	margin-left:4%;
	margin-top: 2.5%;
}
.web img{
	width:40%;
	margin-left:4%;
	margin-top: 2.5%;
}
.wordpress p {
	width:40%;
	margin:0;
	margin-right:4%;
	margin-top: 2.5%;
}
.wordpress img{
	width:40%;
	margin:0;
	margin-left:4%;
	margin-top: 2.5%;
}
.youtube p{
	width:40%;
	margin:0;
	margin-right:4%;
	margin-top: 2.5%	
}
.youtube img{
	width:40%;
	margin:0;
	margin-left:4%;
	margin-top: 2.5%;
}

}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	body{
	width:100%;
}
#header .find_me .left{
	display:none;
}
#header .find_me .social {
	width: 100%;
	height: 100%;
	text-align: center;
}
#header .find_me .social > ul li {
	padding: 2% 2%;
}
section.profile {
	width: 100%;
	display: block;
	text-align: center;
	min-height: 727px;
}
.profile .pic img {
	margin: 0;
	text-align: center;
	width: 60%;
}
.profile .pic P {
	margin: 0;
	margin-bottom: 3%;
}
.profile .text p {
	width: 70%;
	margin:0 auto;
	
}
.profile .pic{
	width:100%;
	display:block;
}
.profile .text {
	width: 100%;
}
.bg .manu ul {
	width: 100%;
}
.bg .manu ul li#active {
	width: 18%;
	
}
.bg .manu ul li {

	height: 95%;
	width: 18%;
	padding: 0 2%;
}
.bg .manu ul li#active a {
	width:94%
}
.web p{
	width:40%;
	margin-left:4%;
	margin-top: 2.5%;
	font-size: 105%;
}.graphics p {
	line-height: 120%;
}
.web img{
	width:40%;
	margin-left:2%;
	margin-top: 2.5%;
}
.wordpress p {
	width:40%;
	margin:0;
	margin-right:4%;
	margin-top: 2.5%;
	line-height: 118%;
}
.wordpress img{
	width:40%;
	margin:0;
	margin-left:2%;
	margin-top: 2.5%;
}
.youtube p{
	width:40%;
	margin:0;
	margin-right:3%;
	margin-top: 2.5%;
	line-height: 118%;
}
.youtube img{
	width:40%;
	margin:0;
	margin-left:3%;
	margin-top: 2.5%;
}

}
	



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body{
	width:100%;
}
#header .find_me .left{
	display:none;
}
#header .find_me .social {
	width: 100%;
	height: 100%;
	text-align: center;
}
#header .find_me .social > ul li {
	padding: 2% 2%;
}
section.profile {
	width: 100%;
	display: block;
	text-align: center;
	min-height: 727px;
}
.profile .pic img {
	margin: 0;
	text-align: center;
	width: 60%;
}
.profile .pic P {
	margin: 0;
	margin-bottom: 3%;
}
.profile .text p {
	width: 70%;
	margin:0 auto;
	
}
.profile .pic{
	width:100%;
	display:block;
}
.profile .text {
	width: 100%;
}
.bg .manu{
	display:none;
}

.web{
	min-height: 565px;
	text-align: center;
}
.web p{
	margin:0;
	margin-top: 2.5%;
	width: 88%;
	font-size: 105%;
	height: 130px;
	margin-left: 1%;
}
.graphics{
	text-align:center;
}
.graphics p {
	line-height: 120%;
	height: 130px;
	margin:0;
	margin-left: 1%;
}
.web img{
	width:98%;
	margin:0;
}
.wordpress{
	text-align:center;
}
.wordpress p {
	width: 88%;
	margin:0;
	margin-top: 2.5%;
	line-height: 118%;
	height: 130px;
	margin-right: 1%;
}
.wordpress img{
	width: 98%;
	margin:0;
	margin-top: 2.5%;
}
.youtube{
	text-align:center;
}
.youtube p{
	width: 88%;
	margin:0;
	margin-top: 2.5%;
	line-height: 118%;
	height: 130px;
	margin-right: 1%;
}
.youtube img{
	width:98%;
	margin:0;
	margin-top:0%;
}

}


@media only screen and (max-width: 480px) {
		body{
	width:100%;
}
#header .find_me .left{
	display:none;
}
#header .find_me .social {
	width: 100%;
	height: 100%;
	text-align: center;
}
#header .find_me .social > ul li {
	padding: 2% 2%;
}
section.profile {
	width: 100%;
	display: block;
	text-align: center;
	min-height: 727px;
}
.profile .pic img {
	margin: 0;
	text-align: center;
	width: 60%;
}
.profile .pic P {
	margin: 0;
	margin-bottom: 3%;
}
.profile .text p {
	width: 70%;
	margin:0 auto;
	
}
.profile .pic{
	width:100%;
	display:block;
}
.profile .text {
	width: 100%;
}
.bg .manu{
	display:none;
}

.web{
	min-height: 565px;
	text-align: center;
}
.web p{
	margin:0;
	margin-top: 2.5%;
	width: 88%;
	font-size: 105%;
	height: 190px;
	margin-left: 1%;
	text-align: left;
}
.graphics{
	text-align:center;
}
.graphics p {
	line-height: 120%;
	height: 170px;
	margin:0;
	margin-left: 1%;
}
.web img{
	width:98%;
	margin:0;
}
.wordpress{
	text-align:center;
}
.wordpress p {
	width: 88%;
	margin:0;
	margin-top: 2.5%;
	line-height: 118%;
	height: 170px;
	margin-right: 1%;
}
.wordpress img{
	width: 98%;
	margin:0;
	margin-top: 2.5%;
}
.youtube{
	text-align:center;
}
.youtube p{
	width: 88%;
	margin:0;
	margin-top: 2.5%;
	line-height: 118%;
	height: 190px;
	margin-right: 1%;
}
.youtube img{
	width:98%;
	margin:0;
	margin-top:0%;
}

}
}

/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}