
.profile .pic {
	width: 50%;
}
.bg .manu ul li ul li a {
	font-size: 15px;
	width: 159px;
	height: 30px;
	margin: 0;
}
.bg .manu ul li ul {
	position: absolute;
	padding: 0px;
	margin: 0px;
	display: none;
	left: 0;
	top: 71px;
}
.bg .manu ul li:nth-child(2) a:hover {
	width: 153px;
}
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
body{
	width:100%;
}
.profile .pic img {
	margin: 0;
	margin-top:10%;
}
.profile .text p {
	width: 70%;
	margin:0 auto;
	
}
.profile .pic{
	width:50%;
}
.profile .pic P {
	margin: 0 20%;
	
}
.profile .text {
	width: 50%;
	margin: 0;
	padding: 17% 0;
}
.bg .manu ul {
	width: 100%;
}
.bg .manu ul li#active {
	width: 18%;
	
}
.bg .manu ul li {
	
	height: 95%;
	width: 18%;
	padding: 0 2%;
}
.bg .manu ul li#active a {
	width:94%
}
.bg .manu ul li ul {
	position: absolute;
	padding: 0px;
	margin: 0px;
	display: none;
	left: 10px;
	top: 71px;
}
.bg .manu ul li ul>li{
	float:none;
}
.bg .manu ul li ul li a {
	font-size: 15px;
	width: 159px;
	height: 30px;
	margin: 0;
}

.bg .manu ul li:nth-child(2) a:hover {
	width: 153px;
}
.web p{
	width:40%;
	margin-left:4%;
	margin-top: 2.5%;
}
.web img{
	width:40%;
	margin-left:4%;
	margin-top: 2.5%;
}
.wordpress p {
	width:40%;
	margin:0;
	margin-right:4%;
	margin-top: 2.5%;
}
.wordpress img{
	width:40%;
	margin:0;
	margin-left:4%;
	margin-top: 2.5%;
}
.youtube p{
	width:40%;
	margin:0;
	margin-right:4%;
	margin-top: 2.5%	
}
.youtube img{
	width:40%;
	margin:0;
	margin-left:4%;
	margin-top: 2.5%;
}

}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	body{
	width:100%;
}
#header .find_me .left{
	display:none;
}
#header .find_me .social {
	width: 100%;
	height: 100%;
	text-align: center;
}
#header .find_me .social > ul li {
	padding: 2% 2%;
}
section.profile {
	width: 100%;
	display: block;
	text-align: center;
	min-height: 727px;
}
.profile .pic img {
	margin: 0;
	text-align: center;
	width: 60%;
}
.profile .pic P {
	margin: 0;
	margin-bottom: 3%;
}
.profile .text p {
	width: 70%;
	margin:0 auto;
	
}
.profile .pic{
	width:100%;
	display:block;
}
.profile .text {
	width: 100%;
}
.bg .manu{
	display:none:
}
.web p{
	width:40%;
	margin-left:4%;
	margin-top: 2.5%;
	font-size: 105%;
}.graphics p {
	line-height: 120%;
}
.web img{
	width:40%;
	margin-left:2%;
	margin-top: 2.5%;
}
.wordpress p {
	width:40%;
	margin:0;
	margin-right:4%;
	margin-top: 2.5%;
	line-height: 118%;
}
.wordpress img{
	width:40%;
	margin:0;
	margin-left:2%;
	margin-top: 2.5%;
}
.youtube p{
	width:40%;
	margin:0;
	margin-right:3%;
	margin-top: 2.5%;
	line-height: 118%;
}
.youtube img{
	width:40%;
	margin:0;
	margin-left:3%;
	margin-top: 2.5%;
}
/*
.bg .manu {
	width: 100%;
	height: 78px;
	position:absolute;
	top: 65px;
	right: 10px;
	background:none;
}
.bg .manu ul {
	width: 32%;
	height: 54%;
	float: right;
}
.bg .manu ul li {
	float: none;
	height: 100%;
	width: 100%;
	position: relative;
	display:inline-block;
	padding: 0;

}
.bg .manu ul li a {
	width: 100%;
	height: 23px;
	display: inline-block;
	margin: 0;
}
.bg .manu ul li#active a {
	transform: none;
	margin: 0;
	width: 100%;
	height: 23px;
	display: inline-block;
	background: linear-gradient(to right,#CF20F8,#02CFF1);
	color: white;
}
.bg .manu ul li#active {
	border: none;
	float: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.bg .manu ul li#active:hover a{
	  background: white;
	  color: #FDBF03;
	  font-family: "Copperplate Gothic Bold";
}
.bg .manu ul>li::before{
	display:none;
}
.bg .manu ul li a:hover{
    transform:none;
	width:100%;
	height: 23px;
}
.bg .manu ul li:nth-child(2) a:hover {
	width: 100%;
}
.bg .manu ul ul li:nth-child(4) a{
	display:block;
	overflow:hidden;
	transition:all .5s ease;
}
.bg .manu ul li ul {
	float:none;
	position: static;
	margin: 0px;
	display: none;
	left: 0px;
}
.bg .manu ul li ul li {
	height: 100%;
	width: 100%;
	top: 0px;
}
.bg .manu ul li:hover ul{
  display: block;
}
.bg .manu ul li ul {
	width: 100%;
	position: static;
	height: 120%;
}
.bg .manu ul li ul li a {
	font-size: 15px;
	width: 100%;
	height: 32px;
	background: white;
	color: #FDBF03;
	font-family: "Copperplate Gothic Bold";
	padding: 7px 0px;
}
.bg .manu ul li>ul>li>a:hover{
	width: 100%;
	height: 32px;
}
*/
.bg .manu{
	display:none:

}
.bg .manu {
	width: 100%;
	height: 78px;
	position:absolute;
	top: 65px;
	right: 10px;
	background:none;
}
.bg .manu ul {
	width: 32%;
	height: 54%;
	float: right;
}
.bg .manu ul li {
	float: none;
	height: 100%;
	width: 100%;
	position: relative;
	display:inline-block;
	padding: 0;

}
.bg .manu ul li a {
	width: 100%;
	height: 23px;
	display: inline-block;
	margin: 0;
}
.bg .manu ul li#active a {
	transform: none;
	margin: 0;
	width: 100%;
	height: 23px;
	display: inline-block;
	background: linear-gradient(to right,#CF20F8,#02CFF1);
	color: white;
}
.bg .manu ul li#active {
	border: none;
	float: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.bg .manu ul li#active:hover a{
	  background: white;
	  color: #FDBF03;
	  font-family: "Copperplate Gothic Bold";
}
.bg .manu ul>li::before{
	display:none;
}
.bg .manu ul li a:hover{
    transform:none;
	width:100%;
	height: 23px;
}
.bg .manu ul li:nth-child(2) a:hover {
	width: 100%;
}
.bg .manu ul ul li:nth-child(4) a{
	display:block;
	overflow:hidden;
	transition:all .5s ease;
}
.bg .manu ul li ul {
	float:none;
	position: static;
	margin: 0px;
	display: none;
	left: 0px;
}
.bg .manu ul li ul li {
	height: 100%;
	width: 100%;
	top: 0px;
}
.bg .manu ul li:hover ul{
  display: block;
}
.bg .manu ul li ul {
	width: 100%;
	position: static;
	height: 120%;
}
.bg .manu ul li ul li a {
	font-size: 15px;
	width: 100%;
	height: 32px;
	background: white;
	color: #FDBF03;
	font-family: "Copperplate Gothic Bold";
	padding: 7px 0px;
}
.bg .manu ul li>ul>li>a:hover{
	width: 100%;
	height: 32px;
}
.fa-list.icon{
	position: absolute;
	top: 3%;
	right: 4%;
	font-size: 30px;
	color: #25acf5;
	display:block;
	background: transparent;
	cursor:pointer;
}
.fa-list.icon{
	position: absolute;
	top: 3%;
	right: 4%;
	font-size: 30px;
	color: #25acf5;
	display:block;
	background: transparent;
	cursor:pointer;
}
}
	



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body{
	width:100%;
}
#header .find_me .left{
	display:none;
}
#header .find_me .social {
	width: 100%;
	height: 100%;
	text-align: center;
}
#header .find_me .social > ul li {
	padding: 2% 2%;
}
section.profile {
	width: 100%;
	display: block;
	text-align: center;
	min-height: 727px;
}
.profile .pic img {
	margin: 0;
	text-align: center;
	width: 60%;
}
.profile .pic P {
	margin: 0;
	margin-bottom: 3%;
}
.profile .text p {
	width: 70%;
	margin:0 auto;
	
}
.profile .pic{
	width:100%;
	display:block;
}
.profile .text {
	width: 100%;
}
section.bg {
  	background-image:url("images/bg (1).jpg");
	background-size:cover;
	width:100%;
	background-attachment:fixed;
}
.bg .manu {
	width: 100%;
	height: 78px;
	position:absolute;
	top: 65px;
	right: 10px;
	background:none;
	display:none;
}
.bg .manu ul {
	width: 32%;
	height: 54%;
	float: right;
}
.bg .manu ul li {
	float: none;
	height: 100%;
	width: 100%;
	position: relative;
	display:inline-block;
	padding: 0;

}
.bg .manu ul li a {
	width: 100%;
	height: 23px;
	display: inline-block;
	margin: 0;
}
.bg .manu ul li#active a {
	transform: none;
	margin: 0;
	width: 100%;
	height: 23px;
	display: inline-block;
	background: linear-gradient(to right,#CF20F8,#02CFF1);
	color: white;
}
.bg .manu ul li#active {
	border: none;
	float: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.bg .manu ul>li::before{
	display:none;
}
.bg .manu ul li#active:hover a{
	  background: white;
	  color: #FDBF03;
	  font-family: "Copperplate Gothic Bold";
}
.bg .manu ul li a:hover{
    transform:none;
	width:100%;
	height: 23px;
}
.bg .manu ul li:nth-child(2) a:hover {
	width: 100%;
}
.bg .manu ul ul li:nth-child(4) a{
	display:block;
	overflow:hidden;
	transition:all .5s ease;
}
.bg .manu ul li ul {
	float:none;
	position: static;
	margin: 0px;
	display: none;
	left: 0px;
}
.bg .manu ul li ul li {
	height: 100%;
	width: 100%;
	top: 0px;
}
.bg .manu ul li:hover ul{
  display: block;
}
.bg .manu ul li ul {
	width: 100%;
	position: static;
	height: 120%;
}
.bg .manu ul li ul li a {
	font-size: 15px;
	width: 100%;
	height: 32px;
	background: white;
	color: #FDBF03;
	font-family: "Copperplate Gothic Bold";
	padding: 7px 0px;
}
.bg .manu ul li>ul>li>a:hover{
	width: 100%;
	height: 32px;
}
.fa-list.icon {
	position: absolute;
	top: 0.5%;
	right: 4%;
	font-size: 30px;
	color: #25acf5;
	display: block;
	background: transparent;
	cursor: pointer;
}

.web{
	min-height: 565px;
	text-align: center;
}
.web p{
	margin:0;
	margin-top: 2.5%;
	width: 88%;
	font-size: 105%;
	height: 130px;
	margin-left: 1%;
}
.graphics{
	text-align:center;
}
.graphics p {
	line-height: 120%;
	height: 130px;
	margin:0;
	margin-left: 1%;
}
.web img{
	width:98%;
	margin:0;
}
.wordpress{
	text-align:center;
}
.wordpress p {
	width: 88%;
	margin:0;
	margin-top: 2.5%;
	line-height: 118%;
	height: 130px;
	margin-right: 1%;
}
.wordpress img{
	width: 98%;
	margin:0;
	margin-top: 2.5%;
}
.youtube{
	text-align:center;
}
.youtube p{
	width: 88%;
	margin:0;
	margin-top: 2.5%;
	line-height: 118%;
	height: 130px;
	margin-right: 1%;
}
.youtube img{
	width:98%;
	margin:0;
	margin-top:0%;
}

}


@media only screen and (max-width: 480px) {
		body{
	width:100%;
}
#header .find_me .left{
	display:none;
}
#header .find_me .social {
	width: 100%;
	height: 100%;
	text-align: center;
}
#header .find_me .social > ul li {
	padding: 2% 2%;
}
section.profile {
	width: 100%;
	display: block;
	text-align: center;
	min-height: 727px;
}
.profile .pic img {
	margin: 0;
	text-align: center;
	width: 60%;
}
.profile .pic P {
	margin: 0;
	margin-bottom: 3%;
}
.profile .text p {
	width: 70%;
	margin:0 auto;
	
}
.profile .pic{
	width:100%;
	display:block;
}
.profile .text {
	width: 100%;
}
.bg .manu {
	width: 100%;
	height: 78px;
	position:absolute;
	top: 65px;
	right: 10px;
	background:none;
	display:none;
}
.bg .manu ul {
	width: 60%;
	height: 54%;
	float:right;
}
.bg .manu ul li {
	float: none;
	height: 100%;
	width: 100%;
	position: relative;
	display:inline-block;
	padding: 0;

}
.bg .manu ul li a {
	width: 100%;
	height: 23px;
	display: inline-block;
	margin: 0;
}
.bg .manu ul li#active a {
	transform: none;
	margin: 0;
	width: 100%;
	height: 23px;
	display: inline-block;
	background: linear-gradient(to right,#CF20F8,#02CFF1);
	color: white;
}
.bg .manu ul>li::before{
	display:none;
}
.bg .manu ul li#active {
	border: none;
	float: none;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.bg .manu ul li#active:hover a{
	  background: white;
	  color: #FDBF03;
	  font-family: "Copperplate Gothic Bold";
}
.bg .manu ul li a:hover{
    transform:none;
	width:100%;
	height: 23px;
}
.bg .manu ul li:nth-child(2) a:hover {
	width: 100%;
}
.bg .manu ul ul li:nth-child(4) a{
	display:block;
	overflow:hidden;
	transition:all .5s ease;
}
.bg .manu ul li ul {
	float:none;
	position: static;
	margin: 0px;
	display: none;
	left: 0px;
}
.bg .manu ul li ul li {
	height: 100%;
	width: 100%;
	top: 0px;
}
.bg .manu ul li:hover ul{
  display: block;
}
.bg .manu ul li ul {
	width: 100%;
	position: static;
	height: 120%;
}
.bg .manu ul li ul li a {
	font-size: 15px;
	width: 100%;
	height: 32px;
	background: white;
	color: #FDBF03;
	font-family: "Copperplate Gothic Bold";
	padding: 7px 0px;
}
.bg .manu ul li>ul>li>a:hover{
	width: 100%;
	height: 32px;
}
.fa-list.icon{
	position: absolute;
	top: .5%;
	right: 4%;
	font-size: 30px;
	color: #25acf5;
	display:block;
	background: transparent;
	cursor:pointer;
}
.web{
    min-height: 455px;
	text-align: left;
}
.web p{
	margin:0 auto;
	margin-top: 3.5%;
	width: 100%;
	height: 40%;
	font-size: 80%;
	padding:0;
	padding-top: 3%;
	padding-bottom: 0;
	float: none;
	border-radius:0;
}
.web button {
	width: 30%;
	height: 20%;
	font-size: 115%;
}
.web h2 {
	margin-top:3.5%;
    border-top: 3px solid #0cbaf3;
	border-bottom: 3px solid #0cbaf3;
	font-size: 115%;
	line-height: 2em;
}

.web img{
	width:100%;
	margin:0 auto;
	height: 46%;
}
.graphics{
	min-height: 450px;
	text-align:center;
}
.graphics img{
	width:100%;
	margin:0 auto;
	height: 43%;
}
.graphics p {
	line-height: 120%;
	height: 35%;
	margin:0;
	border-radius:0;
	font-size: 87%;
	padding:0;
	padding-top: 3%;
	padding-bottom: 0;
	margin-top: 2.5%;
}
.wordpress{
	text-align:center;
	min-height: 435px;
}
.wordpress p {
	width:100%;
	margin:0 auto;
	margin-top: 2.5%;
	line-height: 120%;
	padding:0;
	padding-top: 3%;
	padding-bottom: 0;
	height: 35%;
	font-size: 88%;
	border-radius:0;
}
.wordpress img{
	width: 100%;
	margin:0 auto;
	height: 40%;
}
.youtube{
	min-height: 450px;
	text-align:center;
	margin-bottom: 2%;
}
.youtube p{
	width: 100%;
	margin:0 auto;
	margin-top: 2.5%;
	line-height: 120%;
	height:42%;
	font-size: 88%;
	border-radius:0;
	padding:0;
	padding-top: 3%;
	padding-bottom: 0;

}
.youtube img{
	width:100%;
	margin:0;
	height: 40%;
}

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}