

body{
 width: 100%;
 height: 100%;   
 font-family: 'Roboto', sans-serif; 
 transition: 1s all ease;
 -webkit-transition: 1s all ease;
}
.bg {
	background:#d1d1d1;
	font-family: 'Roboto', sans-serif;
}
.navbar-expand-lg .navbar-collapse {

	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	margin-left: 5%;
	text-transform: uppercase;
}


.img{
	
	

	 width: 100%;
    height: 550px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
}
.search_input {
	color: #ffffff;
	border-radius: 20px;
	border: none;
	padding: 8px 18px;
	width: 7%;
	transition: width 1s ease;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
	position: fixed;
	top: 2%;
	right: 1%;
	float: right;
	z-index: 99999999;
	background: url(images/search.jpg) no-repeat;
	background-size: cover;
	
	
}
.search_input2 {
	width: 25%;
	background: #c5c5c5;
}
.search_input3 {
	width: 6%;
background: url(images/search.jpg) no-repeat;
	background-size: cover;
	
}


.search_icon {
	position: fixed;
	font-size: 20px;
	top: 5%;
	right: 2%;
	float: right;
	z-index: 99999999;
	color:  #f1871c;
	display: none;
}

.menu a {
	color: rgb(63, 62, 62);
	font-size: 14px;
	width: 35%;
}
.dropdown-item:hover, .dropdown-item:focus {
    /* color: #f11818; */
    text-decoration: none;
    background-color: #e7e9ea;
}
.dropdown-menu {
	padding: 0;
}
a.logo {
	font-size: 20px;
	font-family: 'roboto', sans-serif;
	font-weight: bold;
	line-height: 85%;
}
a.logo span {
	font-size: 12px;
	text-transform: capitalize;
}
.navbar-nav {
	padding-left: 94px;

}

.contact_bg {	
	background: #eaeaea;
	text-transform: capitalize;
	font-family: roboto,sans-serif;
	font-size: 17px;
}
.media_style img {
	width: 150px;
	height: 150px;
	margin-right: 10px;
	margin-left: 20px;
}
.media_h{
	font-size: 20px;
	color: #3e3e41;
	text-transform: uppercase;
}
.card_text{
	font-size: 13px;
	color: #989898;
	margin-right: 20px;

}
.profile_style{
position: absolute;
top: 25%;
left: 10%;
}
.profile_style img {
	width: 300px;
	height: 300px;
	margin-right: 10px;
	box-shadow: 10px 10px 10px #fff,-10px 10px 10px #fff,10px -10px 10px #fff,-10px -10px 10px #fff;
}
.profile_style .card_text {
	font-size: 18px;
	
	color: #fff;
	width: 330px;
	margin-left: 48%;
}
.profile_style .media_h {
	font-size: 34px;
	color: #fafaff;
	text-transform: capitalize;
	font-weight: bold;
	font-family: 'roboto',sans-serif;
	margin-left: 49%;
	text-transform: full-width;
	margin-top: 33px;
}
.btn{
	border-radius: 1.25rem;
}
.btn-dark:hover {
	color: #fff;
	background-color: #aeaeae;
	border: 2px solid #fff;
}
.card {
	word-wrap: break-word;
	font-size: 13px;
	text-align: center;
	color: #979797;
}
.card-title {
	margin-bottom: 0.2rem;
	font-size: 17px;
	color: #1f212c;
}
.card img {
	width: 100%;
	height: 170px;
}
.contuct_details h4{
	color: #5e5b5b;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 10px;
	
}
.contuct_links h4, .contuct_mail h4, .contuct_links h4{
	color: #5e5b5b;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 10px;
	
}

.contuct_details p{
	color: #868282;
	font-size: 13px;
	margin-bottom: 10px;
	
}
.contuct_details a{
	color: #868282;
	font-size: 13px;
	margin-bottom: 10px;
	text-decoration: none;
}
.contuct_links li{
	font-size: 14px;
	margin-bottom: 10px;
	list-style: none;
	border-bottom: 1px solid rgb(150, 148, 148);
}
.contuct_links li a{
	
	text-decoration: none;
	color: #3e3e41;
}
ol, ul, dl {
	margin-top: 0;
	margin-bottom: 1rem;
	padding-left: 0;
}
.contuct_mail input {
	border: 1px solid #c6c5c5;
	margin-bottom: 10px;
	background: #fff;
	color: gray;
	font-size: 14px;
	border-radius: 5px;
	padding: 4px 16px;
}
.contuct_mail .input-text{
	margin-top: 10px;
}
.contuct_mail .input-email{
	margin-bottom: 10px;
}
.contuct_mail button {
	padding: 5px 20px;
	font-family: 'Roboto',sans-serif;
}
.line_title h3 {
	position: relative;
	z-index: 1;
	font-size: 25px;
	line-height: 1em;
	color: grey;
}
.line_title h3::after{
 border-radius: 30%;
border: 1px solid grey;
height: 3px;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 48%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
/*.line_title h3::before{
border-radius: 30%;
border: 1px solid rgb(185, 185, 185);
height: 4px;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified 
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent 
  top: 48%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
 
}*/
.line_title h3 span{
	background: #fff;
}
.card img{
	position: relative;
	overflow: hidden;
}

  .card{
	  overflow: hidden;
	  transition: .5s all;
	transition-delay: .5s;
    margin: 15px 20px;
  }         
.card .fig{
	position: absolute;
	width: 100%;
	height: 180px;
	background:rgba(0,0, 0, .5);
	top: -999px;
	left: 0;
		transition: .5s;

}
.card .fig button{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

}
.card:hover>.fig{
	top:0px;
	transition: .5 ease-in;

}
.card:hover>img{
	transform: scale3d(1.1,1.1,1.1);
	transition: .5s;
}
.contuct_mail input:focus{
	border: 2px solid #7de4f7;
}
input.search_input:focus{
	border: 2px solid #ffffff;
}
.img{
	position: relative;
}
.contact_btn {
	padding-left: 5px;
	width: 150px;
}
.open-slide {
	padding-right: 20px;
}
.navbar {
    padding: 1.5rem 0;
    text-align: center;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font: size 1rem;
  color:rgb(185, 179, 179);
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}
.side-menu{
	width: 250px;
	height: 100%;
}
.footer{
	background: #d1d1d1;
	padding: 30px;
}
.p_text{padding-left: 130px;
	position: relative;
	font-size: 16px;

text-transform: uppercase;

color: #fff;

font-weight: bold;

}
.p_text img{
border: 3px solid #868282;
}
.pl_text{
	font-size: 16px;

text-transform: uppercase;

color: #fff;

font-weight: bold;
}
.scroll_img{
	position: absolute;
	bottom: 10px;
	left: 94%;
	width: 50px;
	height: 50px;
	position: fixed;
	opacity: .5;
	display:none;
}
.scroll_img:hover{

	opacity: 1;
}
.slide_p{
	font-size: 160%;
}
.hide{
	display: none;
}

#main{
  transition:margin-left 0.5s;
  overflow:hidden;
  width:100%;
}

@media only screen and(max-width:767px){

 .navbar-nav {
	padding-left: 130px;
	display: none;}
	.img .profile_style{
	display: none;
  }
  .img .media{
	  display: none;
  }
.pl_text {
	text-align: center;
}
.p_text {
	padding-left: 0;
	text-align: center;
}
.slide_p_st{
    font-size: 16px;
    line-height: 2.2;
}
.slide_p_st b{
 	line-height: 1.2;
	font-weight: 300;
    font-size: 220%;
    overflow: hidden;
    
    position: absolute;
   
    height: 24px;
    width: 50%;
}
.slide_p {
	font-size: 160%;
}

.rt_text {
	
	margin-top: 50% !important;
	line-height: 1.4;
	font-weight: 300;
	font-size: 160%;
	margin-bottom: 0;
}
.slide2 {
	left: 0%;
	font-size: 22px;
	position: absolute;
    top:0;
	width: 70%;
    height: 30px;
    animation: animate2 4s linear infinite;
    animation-delay: .25s;
    color: #fff;
}
.sm_hide{
	display: none;
}
.hide{
	display: block;
}
@keyframes animate2{
 0%{
        margin-top:5px;
    }
    10%{
        margin-top:0px;
   
    }
    25%{
            margin-top:0px;
    }
    40%{ margin-top:-25px;  }
    60%{ margin-top:-25px;  }

    70%{
         margin-top:-55px;
    }
    90%{margin-top:-55px;}
    100%{margin-top:-70px;}
}
.menu a {
    width: 175px;
}


}
@media(min-width:768px){
  .open-slide{display:none}
   
	
  
}

/* .navbar-nav .manu{
	display: none;
} */



/* -----------------------------ABOUT CSS ------------------------*/


.navbar-nav .active{
background: rgb(226, 226, 226);
}

.cover_img_area{
     width: 100%;
     height: 400px;
     display: flex;
}
.l_img{
    width: 50%;
    height: 100%;
    position: relative;

}

.l_img::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 80%;
	width: 42%;
	height: 100%;
 background: #414141;
	transform: skewX(10deg);
}
.l_img img {
	width: 100%;
	height: 100%;
	inline-size: initial;
}
.r_text {
	width: 50%;
	height: 100%;
    z-index: 1;
  background: #414141;

color: #c3c3c3;
}
.sm_hide{
	line-height: 1.2;
	font-weight: 300;
    font-size: 30px;
    overflow: hidden;
    
    position: absolute;
    float: left;
    height: 41px;
    width: 50%;

}

.rt_text{
    margin-top: 23%;

	line-height: 1.4;
	font-weight: 300;
    font-size: 30px;
}
.slide{
    
    position: absolute;
    top:0;
	left:21%;
	width: 70%;
    height: 30px;
    animation: animate 5s linear infinite;
    animation-delay: 1s;
    color: #fff;

    
}

@keyframes animate{
    0%{
        margin-top:20px;
    }
    10%{
        margin-top:0px;
   
    }
    25%{
            margin-top:0px;
    }
    40%{ margin-top:-42px;  }
    60%{ margin-top:-42px;  }

    70%{
         margin-top:-86px;
    }
    90%{margin-top:-86px;}
    100%{margin-top:-120px;}
}
.progress {
    height: 1.25rem;
font-size: 1.05rem;
}
.progress_style{
    font-size: 18px;
    color: grey;

}
.progress_style span{
    background: #fff;


 

}
.progress_style h2::after{
    content: '';
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    border-radius: 50%;
    border: 1px solid grey;
    height: 3px;
       z-index: -1;
}
.contact_bg .pt-5 {
	padding-top: 5rem !important;
}
.bg-pink{
    background-color:rgb(236, 159, 172);
}
.bg-orange{
    background-color:yellowgreen;
}
.my_progress h4 {
	font-size: 17px;
	color: #808080;
}
.contact_p {
	color: #606060;
	text-transform: full-size-kana;
}




.count-particles{
  border-radius: 0 0 3px 3px;
}
#particles-js{
 /*background: linear-gradient(45deg,#FD9F0A,#E68322,red);*/
	background: transparent;



}

/*-------------------- FindUs CSS --------------------*/

.dropdown-menu{
transition: .2s ease-in;
opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	visibility: hidden;
}
.navbar .dropdown:hover>.dropdown-menu {
	visibility: visible;
	opacity: 1;
	transform: scaleY(1);
}
.navbar-nav li a:hover{
	text-decoration: none;
	color:red;
	
}

/*------------------------Gallery CSS ----------------*/
.side_manu{
	display: none;
}
.side_manu_1{
	display: none;
}
.navbar-nav .nav-link {
    width: 100%;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
}
}